body {
  margin: 0;
  padding: 0;
  font-size:13px;
}

a {
    color:black;
}

.header {
	padding: 10px;
	margin-bottom: 30px;
	background-color: #618685;
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
}

.headerleft {
	background-color: #618685;
	margin-top: 5px;
	width: 75%;
	height: 100%;
	float: left;
	text-align: left;
	display:inline-block;
	vertical-align: middle;
}

.headerright {
	background-color: #618685;
	width: 22%;
	text-align: right;
	display:inline-block;
	vertical-align: middle;
}

.container {
	background: white;
	width: 90%;
	align-self: center;
}

.filter_container {
    /*border-style: solid;*/
    padding: 15px;
    background: white;
    min-height: 100%;
    display:inline-block;
    text-align:left;
    vertical-align: top;
}

.bottomcontainer {
	background: white;
	margin-top: 30px;
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	background: white;
	width: 90%;
	display: table;
}

.footerleft {
	padding: 12px;
	background: white;
	width: 50%;
	float: left;
	text-align: left;
	font-size: 12px;
    margin-right: 10px;
}

.footerright {
	margin-left: 10px;
	padding: 12px;
	background: white;
	font-size: 12px;
	overflow: width:100%;
	text-align: left;
}


.mainchart {
	width: 100%;
	overflow: hidden;
    position: relative;
    min-height: 500px;
}

#select_region_filter_death_increase, #select_region_filter_death, #select_region_filter_positive_increase, #select_region_filter_positive, #select_region_filter_death_slope, #select_region_filter_positive_slope, #clear_region {
  color: black;
  white-space: nowrap;
  font-size:12px;
}

#region {
  width: 150px;
}

#selectmain1, #yscale1 {
  display: inline-block;
  margin-bottom: 15px;
}

#selectmain2, #yscale2 {
  display: inline-block;
}

#selectmainlandscape1 {
  margin-bottom: 15px;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : portrait) {
  .mainchart {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 300px;
  }
  canvas {
      height: 100% !important;
      min-height: 300px;
  }
  #select_main_view_by_us {
    font-size:20px;
  }
  #select_main_view_by_world {
    font-size:20px;
  }
  #metric {
    font-size:20px !important;
  }
  #selectmain1, #yscale1 {
    font-size:20px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
  }
  #selectmain2, #yscale2 {
    font-size:20px;
    display: inline-block;
  }
  #selectmainlandscape1 {
    margin-bottom: 15px;
  }
  #mavgtext {
    font-size:20px;
  }

  #select_region_filter_death_increase, #select_region_filter_death, #select_region_filter_positive_increase, #select_region_filter_positive, #select_region_filter_death_slope, #select_region_filter_positive_slope, #clear_region {
    color: black;
    white-space: nowrap;
    font-size:17px;
  }

 .select2-results__options, .select2-selection__rendered {
        font-size:20px !important;
 }

  #region {
    width:200px;
  }

  #startDate, #endDate, #copy_link {
    font-size:20px;
    width: 110px;
  }

  #copy_to_clipboard, #apply {
    font-size:20px;
  }
  #followtwitter {
    text-align:center;
    font-size:20px;
  }
  .filter_container {
    text-align:center;
  }
  .footerleft, .footerright {
    font-size:18px;
  }

  #buttons1 {
    margin-bottom: 15px;
  }

  div.ui-datepicker{
     font-size:20px;
  }

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : landscape) {
  .mainchart {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 350px;
  }
  canvas {
      max-height: 350px;
  }

  .filter_container {
    display: inline-block;
    float: center;
  }

  #selectmainlandscape1 {
    font-size:20px;
    display: inline-block;
    margin-right: 15px;
    vertical-align:top;
    text-align: right;
  }
  #selectmainlandscape2 {
    font-size:20px;
    display: inline-block;
    margin-left: 15px;
    vertical-align:top;
  }

  #selectmain1 {
    font-size:20px;
    display: inline-block;
    margin-bottom: 15px;
    text-align: right;
  }
  #selectmain2 {
    font-size:20px;
    display: inline-block;
  }

  #buttons1 {
    font-size:20px;
    display: inline-block;
    margin-right: 15px;
    vertical-align:top;
  }

  #buttons2 {
    font-size:20px;
    display: inline-block;
    margin-left: 15px;
    vertical-align:top;
  }

  #yscale1, #yscale2 {
    font-size:20px;
  }

  #selectmain2 {
    margin-bottom: 5px;
  }

  #metric {
    font-size:20px !important;
  }

  #select_region_filter_death_increase, #select_region_filter_death, #select_region_filter_positive_increase, #select_region_filter_positive, #select_region_filter_death_slope, #select_region_filter_positive_slope, #clear_region {
    color: black;
    white-space: nowrap;
    font-size:17px;
  }

 .select2-results__options, .select2-selection__rendered {
        font-size:20px !important;
  }

  #region {
    width:200px;
  }
  .footerleft, .footerright {
    font-size:18px;
    overflow-wrap: break-word;
  }

  div.ui-datepicker{
     font-size:20px;
  }

}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-container, .instructions {
    width: 200px;
    margin: 20px auto 0;
    font-size: 14px;
    font-family: sans-serif;
    overflow: auto;
}

.instructions {
    width: 100%;
    text-align: center;
}

.dropdown-button {
    float: left;
    width: 100%;
    background: whitesmoke;
    padding: 10px 12px;

    cursor: pointer;
    border: 1px solid lightgray;
    box-sizing: border-box;
    
    .dropdown-label, .dropdown-quantity {
        float: left;
    }
    
    .dropdown-quantity {
        margin-left: 4px;
    }
    
    .fa-filter {
        float: right;
    }
}

.dropdown-list {
    float: left;
    width: 100%;

    border: 1px solid lightgray;
    border-top: none;
    box-sizing: border-box;
    padding: 10px 12px;
    
    input[type="search"] {
        padding: 5px 0;
    }
    
    ul {
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
    
    input[type="checkbox"] {
        position: relative;
        top: 2px;
    }
}

td {
    font-size: 10px;
}

