<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>COVID Time Series | Coronavirus Dashboard | COVID-19 Line Charts</title>
    <style>
      .dataTable {
          font-size: 13px;
      }

      .leftbox {
          display: inline-block;
          padding: 3px;
          text-align: right;
      }

      .rightbox {
          display: inline-block; vertical-align:top;
          padding: 3px;
      }

      @media only screen
      and (min-device-width : 375px)
      and (max-device-width : 812px)
      and (orientation : portrait) {
          .dataTable {
              font-size: 17px;
          }
          .leftbox {
              display: block;
              padding: 3px;
              text-align: center;
          }
          .rightbox {
              display: block; vertical-align:top;
              padding: 3px;
          }
      }

      @media only screen
      and (min-device-width : 375px)
      and (max-device-width : 812px)
      and (orientation : landscape) {
          .dataTable {
              font-size: 17px;
          }
          .leftbox {
             display: inline-block;
          }
      }
    </style>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="The Covid Time Series dashboard tracks time series for fatalities per day, positive tests per day, current hospitality rates, mortality rates and several other metrics. The dashboard also calculates moving averages and linear regression across different regions. Get the latest line charts, time series and trending data for the Coronavirus / COVID-19 here." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="icon" 
      type="image/png" 
      href="/media/img/favicon-16.png" />
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164544520-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164544520-1');
    </script>
  </head>
  <body>
    <div class="header">
      <div class="headerleft">
        <a href="/" style="text-decoration:none;"><span style="text-decoration:none; color:white; font-size:16px;"><nobr>COVID Time Series | Coronavirus Dashboard</nobr></span></a>
      </div>
      <div class="headerright">
        <a href="https://twitter.com/covidtimeseries"><img src="/media/img/twitter-24.png" border="0"></a>
        &nbsp;
        <a href="https://venmo.com/covidtimeseries"><img src="/media/img/venmo-24.png" border="0"></a>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
