{% extends 'base.html' %}

{% block content %}
  <center>
    <form id="filter_form"  method="POST">
    {% csrf_token %}
    <div class="container" style="text-align:center;">
      <div class="filter_container">
          <div id="selectmainlandscape1">
            <div id="selectmaincontainer">
              <div id="selectmain1">
                <a href="#" id="select_main_view_by_us" style="color:black;">United States</a><br>
              </div>
              <div id="selectmain2">
                <a href="#" id="select_main_view_by_world" style="color:black;">Worldwide</a>
              </div>
            </div>
            <select class="js-example-placeholder js-states form-control" id="metric" style="font-size: 13px;">
            </select>
          </div>
          <div id="selectmainlandscape2">
            <div id="yscalecontainer">
              <div id="yscale1">
                <input type="radio" name="yscale" value="line" checked> <label for="linear">Linear</label><br>
              </div>
              <div id="yscale2">
                <input type="radio" name="yscale" value="logarithmic"> <label for="logarithmic">Logarithmic</label>
              </div>
            </div>
            <input type="checkbox" name="mavg" value="mavg"> <span id="mavgtext">7-Day Average</span>
         </div>
      </div>
      <div class="filter_container" style="vertical-align:top;">
        <div class="leftbox">
          <a href="#" id="select_region_filter_death_increase" name="death_increase">Top 5 by Deaths (Recent Day)</a><br>
          <a href="#" id="select_region_filter_death" name="death">Top 5 by Deaths (Cumulative)</a><br>
          <a href="#" id="select_region_filter_positive_increase" name="positive_increase">Top 5 by Positive (Recent Day)</a><br>
          <a href="#" id="select_region_filter_positive" name="positive">Top 5 by Positives (Cumulative)</a><br>
          <a href="#" id="select_region_filter_death_slope" name="death_slope">Top 5 by Deaths (Recent 7-Day Slope)</a><br>
          <a href="#" id="select_region_filter_positive_slope" name="positive_slope">Top 5 by Positives (Recent 7-Day Slope)</a><br>
          <a href="#" id="clear_region">Clear Selections</a>
        </div>
        <div class="rightbox">
          <select class="js-example-placeholder-multiple js-states form-control" multiple="multiple" id="region">
          </select>
        </div>
      </div>
      <div class="filter_container">
        <div id="buttons1">
          <input type="text" id="startDate" size=10> <input type="text" id="endDate" size=10>
          <br><br>
          <input type="submit" id="apply" name="apply" value="Show Me The Results">
        </div>
        <div id="buttons2">
          <button id="copy_link" name="copy_link">Share</button> <input type="text" id='copy_to_clipboard' name="copy_to_clipboard" value="" size="10" onClick="this.setSelectionRange(0, this.value.length);">
          <br><br>
          <div id="followtwitter">
            Follow me on <a href="https://twitter.com/covidtimeseries">Twitter</a> for<br>updates and analysis
          </div>
        </div>
      </div>
    </div>
    </form>
    <div class="container">
        <div class="mainchart">
          <canvas id="line-chart" data-url="{% url 'line-chart' %}"></canvas>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;">
      <div id="datatablecontainer">
        <table id="dataTable" class="display compact" style="width:100%; margin-top: 30px;margin-bottom: 30px;">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="bottomcontainer">
        <div class="footerleft">
          <p>
            <b>Data Sources</b>: <a href="https://covidtracking.com/">The COVID Tracking Project</a>, <a href="https://github.com/CSSEGISandData/COVID-19">CSSEGISandData / COVID-19</a> by way of <a href="https://github.com/pomber/covid19">pomber/covid19</a>
          </p>
          <p>
            <b>Metric Info</b>: All rates (death rate, hospitalization rate, etc) are based on count of positive cases with the exception of the Positives Test Rate, which is based on the number of tests taken.
          </p>
          <p>
            <b>Incomplete Data</b>: Metrics are based off data from The COVID Tracking Project and is not entirely comprehensive for all states. This will lead to either gaps in data or no data at all for some states/metrics.
          </p>
          <p>
            <b>Additional Resources</b>
            <br>
            <a href="https://covid19info.live/" style="color:black;">covid18info.live</a>: Time series breakdown by continent/country and 24 hour view by state/region
            <br>
            <a href="https://dash-coronavirus-2020.herokuapp.com/" style="color:black;">Coronavirus (COVID-19) Outbreak Global Cases Monitor</a>: More data visuals and outbreak map  
            <br>
            <a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html?fbclid=IwAR388nZ0fY1PCEWf1FVwzZXhNHF0fUp71imH55tjeXKdKFjcACY_Mmc3MNM#/bda7594740fd40299423467b48e9ecf6" style="color:black;">John Hopkins University CSSE COVID-19 Dashboard</a>: Country, state, and county breakdown
          </p>
        </div>
        <div class="footerright">
          <p>
            <b>Why another COVID dashboard?</b> I have yet to find a dashboard that shows time series for COVID metrics broken down by state. Once I find a historical data source broken down by county, I will include that here as well. Trending data is extremely important.
          </p>
          <p>
            <b>Contact Me</b> Please reach me on <a href="https://twitter.com/covidtimeseries" style="color: black;">Twitter</a> for any comments, questions, suggestions.
          </p>
          <p>
            <b>Like what you see?</b> Help me keep this site running by donating.
          </p>
          <p style="display:inline;">
            <a href="https://venmo.com/covidtimeseries"><img src="/media/img/venmo-24.png" border="0"></a>
            <form style="display:inline;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick" />
              <input type="hidden" name="hosted_button_id" value="XEVK5SKRTZFVJ" />
              <input type="image" src="/media/img/paypal-24.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
              </form>
            </p>
        </div>
    </div>
  </center>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script src="/media/js/linechart.js"></script>

{% endblock %}
